@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255, 137, 36;
  --primary-foreground: 255, 255, 255;

  --secondary: 212, 212, 216;
  --secondary-foreground: 17, 24, 28;

  --success: 23, 201, 100;
  --success-foreground: 17, 24, 28;

  --warning: 245, 165, 36;
  --warning-foreground: 17, 24, 28;

  --danger: 243, 18, 96;
  --danger-foreground: 255, 255, 255;

  --focus: var(--primary);

  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --content-background: 255, 255, 255;
  --admin-bg-color: 250, 250, 250;

  --border-color: 229, 231, 235;
  --input-border-color: 63, 63, 70;
  --divider-color: 218, 222, 242;
}
html.dark {
  --secondary: 63, 63, 70;
  --secondary-foreground: 255, 255, 255;

  --background: 23, 23, 23;
  --foreground: 236, 237, 238;
  --content-background: 39, 39, 42;

  --border-color: 63, 63, 70;
  --input-border-color: 156, 166, 163;
  --divider-color: 78, 84, 83;
}

html,
body {
  scroll-behavior: smooth;
  --header-height: 64px;
  --sidebar-width: 280px;
  --footer-height: 60px;
}
/* Custom Scrollbar css */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.lucide {
  stroke-width: 1.25px;
}
.lucide * {
  /* Absolute Stroke width = true */
  vector-effect: non-scaling-stroke;
}

@layer base {
  /* light - grid background */
  .block-bg {
    background-size: 2.5rem 2.5rem;
    background-image: linear-gradient(90deg, #c0c0c045 0.063rem, #0000 0),
      linear-gradient(180deg, #c0c0c045 0.063rem, #0000 0);
  }
  /* light - radial background */
  .radial-bg {
    background: radial-gradient(circle, #fff6 0, #fff 99%);
  }
  /* dark - grid background */
  html.dark .block-bg {
    background-size: 2.5rem 2.5rem;
    background-image: linear-gradient(90deg, #202020 0.063rem, #0000 0),
      linear-gradient(180deg, #202020 0.063rem, #0000 0);
  }
  /* dark - radial background */
  html.dark .radial-bg {
    background: radial-gradient(circle, #0000 0, #000c 99%);
  }

  .required:after {
    content: " *";
    color: rgb(var(--danger));
  }
}